<div class='hero'>
	<img class='hero__img' src='./assets/images/Maxomatic_Pudding_NYT FINAL.jpg'>
</div>
<div class='intro'>
	<div class='hed-block'>
		<h1 class='intro__hed hedA tk-tiempos'>{{meta.titleA}}</h1>
		<h1 class='intro__hed hedB tk-national'>{{meta.titleB}}</h1>
		<h1 class='intro__hed hedC tk-tiempos'>{{meta.titleC}}</h1>
	</div>
	<div class='intro__dek'>
		<p class='tagline tk-national'>{{meta.description}}</p>
		<div class='logo'>@@include('nyt-01.svg')</div>
		<div class='logo pudding-logo'>@@include('pudding-01.svg')</div>
	</div>
	<p class='intro__byline tk-national'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a> &
		<a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a>
	</p>
	<div class='prose'>
		{{#each doc.intro}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</div>
